<!-- 
- Autor: Erik Daniel Mendez
- Proyecto: Sistema Gestor de Inventario Wik 
- Fecha: 08/05/2023
-->


<!--Barra de navegación-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a> <!-- Logo wik -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> <!--Termina logo wik-->

      <!--Titulo de la barra de navegación-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Inventario</a>
          </li>


<!--Menú desplegable del apartado Sim Card -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sim Card
            </a>
            <ul class="dropdown-menu"> <!--Lista del menú desplegable-->
              <li><a class="dropdown-item" href="#">Físicas</a></li>
              <li><a class="dropdown-item" href="#">eSim</a></li>
            </ul>
          </li>

<!--Menú desplegable de equipos-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Modem HBB</a></li>
              <li><a class="dropdown-item" href="#">Modem Wifi</a></li>
              <li><a class="dropdown-item" href="#">Telefonos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>